

.aside-sidebar{
    width: 250px;
    height: 100vh;
    background-color: #385E94;
    position: fixed;
    transition: left 0.4s ease;
    z-index: 10;
}

.section-arrow{
    display: flex;
    justify-content: end;
}

.div-img-arrow{
    background-color: rgb(231, 231, 231);
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    /* display: flex; */
    /* align-items:flex-start; */
    border-radius: 20px;
    padding: 5px;
}

.img-arrow{
    width: 50px;
    height: 50px;
}

.sidebarClose{
    left: -170px;
}

.sidebarOpen {
    left: 0;
  }


  .section-icons{
    margin-top: 100px;
    /* background-color: rgb(126, 237, 237); */
    flex-direction: column;
    display: flex;
    align-items: center;
    
  }

  .section-icons-small{
    align-items:end;
    
    
  }

  .section-icons-big{
    margin-right: 0px;
  }


  .profile-pic-big{
    width: 150px;
    border-radius: 2px; 
  }

  .profile-pic-small{
    width: 50px;
    border-radius: 20px;
    margin-right: 20px;
  }

  .buttons-options-big{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    gap: 10px;
  }

  .buttons-options-big div{
    border-radius: 20px;
    background-color: #385E94;
    padding: 5px 20px;
    font-size: 25px;
    border: 1px solid black;
    cursor: pointer;
  }

  .buttons-options-big div:hover{
    background-color: #577298;
  }

  .buttons-options-small{
    margin-right: 15px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    gap: 10px;
  }

  .buttons-options-small div{
    border-radius: 20px;
    background-color: #385E94;
    
    font-size: 40px;
    display:flex;
    flex-direction: column;
    cursor: pointer;
  }

  .buttons-options-small span{
    font-size: 10px;
  }